# -FrontPage-

IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*

<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName www.collected-intelligence.com
AuthUserFile /export/home/intel75/public_html/_vti_pvt/service.pwd
AuthGroupFile /export/home/intel75/public_html/_vti_pvt/service.grp

RewriteEngine On
RedirectMatch 301 /contact.html http://www.collected-intelligence.com
RedirectMatch 301 /research.html http://www.collected-intelligence.com
RedirectMatch 301 /testimonials.html http://www.collected-intelligence.com