RewriteEngine On
RedirectMatch 301 /contact.html http://www.collected-intelligence.com
RedirectMatch 301 /research.html http://www.collected-intelligence.com
RedirectMatch 301 /testimonials.html http://www.collected-intelligence.com